.Categories h1 {
    text-align: center !important;
}
.Categories p {
    text-align: center !important;
}
.Category h3 {
    text-align: center !important;
    text-transform: capitalize !important;
    font-weight: 400;
    font-size: 1.2rem;
}
