.Home h1 {
    text-align: center !important;
}
  
.Article h3 {
    text-align: center !important;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 1.5rem;
}
  
.Article p {
    padding-right: 1rem;
    white-space: normal !important;
}
  